<div class="container">
  <div class="row">
    <%current_user.orders.each do |order| %>
      <%= link_to profile_order_path(order), class: "white-text" do %>
        <div id="Order-<%= order.id %>" class="card red">
          <div class="card-content">
            <span class="card-title">Order #<%=order.id%>, <%= order.total_item_count %> items</span>
            <p>Placed: <%= order.created_at.to_date %></p>
            <% if order.updated_at != order.created_at %>
              <p>Updated: <%= order.updated_at.to_date %></p>
            <% end %>
            <p>Status: <%= order.status.capitalize %></p>
            <p>Shipping Address: <%= order.address.address %>, <%= order.address.city %> <%= order.address.state %> 
                <%= order.address.zip %> (<%= order.address.name %>)
            </p>
            <p>Order Cost: <%= number_to_currency(order.total_price) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
